.App{
  display:flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: whitesmoke;
}

.calculator{
  margin:2rem;
  padding:2rem;
  background-color: bisque;
  width:18%;
  min-height: 50vh;
  overflow: hidden;
  
}
.display{
  text-align: right;
  font-size: 1.5rem;
}

button{
  appearance: none;
  border: none;
  outline: none;
  padding:1rem;
}

.operators{
  display: flex;
}

.operators button{
  flex: 1 1 0%;
}

.digits{
  display:flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.33%;
}